<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Faster-Framework-Builder</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>

    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdn.bootcss.com/layer/3.1.0/layer.js"></script>
    <script src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
</head>
<body>

<div id="app" class="container" style="padding: 10px;">
    <h2 class="text-center">Faster-Framework代码生成器</h2>
    <div style="width: 450px;margin: 50px auto 0;">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-4 control-label">项目类型：</label>
                <div class="col-sm-6">
                    <select v-model="form.type" class="form-control">
                        <option disabled value="">请选择</option>
                        <option value="1">接口</option>
                        <option value="2">后台管理接口</option>
                        <option value="3">后台管理前端</option>
                        <option value="4">后台管理权限</option>
                    </select>
                </div>
            </div>
            <div class="form-group" v-show="form.type!=4">
                <label class="col-sm-4 control-label">版本号：</label>
                <div class="col-sm-6">
                    <select v-model="form.dependency" class="form-control">
                        <option disabled value="">请选择</option>
                        <option v-for="item in dependencyList" v-bind:value="item">{{item.name}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">数据库主机名：</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" v-model="form.database.host"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">数据库端口号：</label>
                <div class="col-sm-6">
                    <input type="number" class="form-control" v-model="form.database.port"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">数据库名称：</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" v-model="form.database.name"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">数据库用户名：</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" v-model="form.database.username"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">数据库密码：</label>
                <div class="col-sm-6">
                    <input type="password" class="form-control" v-model="form.database.password"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">项目名称：</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" v-model="form.business.projectName"/>
                </div>
            </div>
            <div class="form-group" v-show="form.type==1||form.type==2">
                <label class="col-sm-4 control-label">根包路径：</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" v-model="form.business.basePackagePath"
                           placeholder="示例:com.test"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">表名称：</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" v-model="form.business.tableName" placeholder="单独生成一张表使用"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-5">
                    <button class="btn btn-primary" @click="submit">生成</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    axios.defaults.timeout = 10000;
    var app = new Vue({
        el: '#app',
        created: function () {
            var lastBuilder = $.cookie('last_builder');
            if (lastBuilder) {
                this.form = JSON.parse(lastBuilder);
            }
        },
        data: function () {
            return {
                dependencyList: [],
                form: {
                    database: {
                        host: "",
                        port: "",
                        name: "",
                        username: "",
                        password: ""
                    },
                    business: {
                        projectName: "",
                        basePackagePath: "",
                        tableName: ""
                    },
                    dependency: {
                        version: "",
                        url: ""
                    },
                    type: ""
                }
            }
        },
        watch: {
            'form.type': function (type) {
                var url = "https://api.github.com/repos/";
                if (type === "1") {
                    url += "faster-framework/faster-framework-core";
                } else if (type === "2") {
                    url += "faster-framework/faster-framework-admin";
                } else if (type === "3") {
                    url += "faster-framework/faster-framework-admin-web";
                } else {
                    return;
                }
                url += "/releases";
                var self = this;
                axios.get(url).then(function (response) {
                    self.form.dependency = null;
                    self.dependencyList = response.data;
                })
            }
        },
        methods: {
            download(response) {
                if (!response.data) {
                    return
                }
                var url = window.URL.createObjectURL(new Blob([response.data]));
                var link = document.createElement('a');
                link.style.display = 'none';
                link.href = url;
                link.setAttribute('download', response.headers['content-disposition'].substring(response.headers['content-disposition'].indexOf("filename=") + "filename=".length));
                document.body.appendChild(link)
                link.click()
            },
            submit: function () {
                var form = Object.assign({}, this.form);
                if (form.dependency) {
                    form.dependency.url = form.dependency.zipball_url;
                    form.dependency.version = form.dependency.name;
                }
                if ((form.type === "1" || form.type === "2") && !form.business.basePackagePath) {
                    layer.msg("请填写根包路径");
                    return;
                }

                if (form.type !== "4") {
                    var dependencyNull = !form.dependency;
                    if (dependencyNull) {
                        layer.msg("请选择版本");
                        return;
                    }
                    var dependencyVersionNull = !form.dependency.version;
                    if (dependencyVersionNull) {
                        layer.msg("请选择版本");
                        return;
                    }
                }
                var self = this;
                axios({
                    method: 'post',
                    url: '/builder',
                    data: form,
                    responseType: 'arraybuffer',
                }).then(function (response) {
                    self.download(response);
                    $.cookie('last_builder', JSON.stringify(form));
                }).catch(function (response) {
                    if (response.data) {
                        var uInt8Array = new Uint8Array(response.data);
                        var dataJson = new TextDecoder().decode(uInt8Array);
                        var data = JSON.parse(dataJson);
                        layer.msg(data.message);
                    } else {
                        layer.msg("网络异常");
                    }
                })
            }
        }
    })
</script>
</html>